<div class="a4page">
    <div class="a4header">
        @HeaderContent
    </div>
    <div class="a4content">
        @ChildContent
    </div>
    <div class="a4footer">
        @FooterContent
    </div>
</div>