<div class="rounded-box-company">
	<div>Aditionale</div>
</div>
<div class="d-flex flex-column rounded-box-company-contents">
	<div>Delegat: @Invoice.DelegateName</div>
	<div>CI: @Invoice.DelegateCi</div>
	<div>Transport: @Invoice.TransportType</div>
	<div>Expediat: @Invoice.SentAtDate</div>
</div>
