<div class="rounded-box-company">
	<div>Totaluri</div>
</div>
<div class="d-flex flex-column rounded-box-company-contents">
	<div>Total fara TVA: @Invoice.TotalWithoutVat </div>
	<div>Valoare TVA: @Invoice.VatValue</div>
	<div>Total: @Invoice.TotalValue</div>
</div>